.App {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
  border: 2px solid rebeccapurple;
}

.schoolInfo {
  border-bottom: 2px solid black;
}

.schoolInfo img{
  float: left;
  height: 150px;
}

table.studentProfile{
  text-align: left;
  border: 1px solid black;
  width: 100%;
}

table.studentProfile td{
  border: 0px solid white;
}

table.subjectMarksTable {
  width: 100%;
}

.subjectData {
  text-align: left;
}

table.extraCurricularSubjectTable {
  width: 70%;
}

.extraCurricularSubjectData {
  text-align: left;
}

table.reportFooter {
  border: 0px;
  width: 100%;
}

.misc {
  text-align: left;
}

table.reportFooter th{
  border: 0px;
}